<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <link href="/css/educationalComponentText.css" rel="stylesheet" type="text/css">
    <title>ALEX</title>
</head>
<!-- Text Variables for Clarity :) -->
<% var mainTitle = `What Are Research Studies?` %>

<% var title1 = `Brief Overview of Research Studies` %>
<% var text1 = `A research study uses a carefully designed protocol, or plan, that allows researchers to learn about a person’s health, behavior, or response to a specific treatment or program. There are many different types of research studies. Some research studies are used to test or improve medical, surgical, or behavioral treatments. This could involve testing how well a new medication works for different types of people or whether a mobile app can help people quit smoking. Other research studies don’t involve any treatment, and may only ask a person to complete a survey or to be observed in their typical settings to help researchers learn more about their experiences with things like chronic pain, sleep issues, or mental health.` %>

<% var title2 = `More Information about Research Studies` %>
<% var text2 = `Most research studies fall into two main categories. One category is called interventional studies, and the other category is called observational studies. In interventional studies, researchers place people in different groups to try and see whether a new treatment or way of helping people works better than what we have available. On the other hand, in observational studies, researchers do not place people in different groups. Instead, they just carefully watch people to see how tests, treatments, or other naturally occurring factors may affect their health.` %>

<% var title3 = `Example of Research Studies` %>
<% var text3 = `Remember that the difference between an interventional and observational study is whether the researchers assign people to different groups. In an interventional study on weight loss, researchers could assign participants to different groups to test the effectiveness of two different diets. The researchers would closely monitor and compare the weight loss outcomes between the two groups to determine which diet plan yields better weight loss outcomes between the two groups. In an observational study on the impact of screen time on sleep quality, researchers may ask people how much time they spend on screens before bed and how well they sleep. The researchers would then try to see whether the amount of screen time people report is related to their sleep quality.<br><br>The most important thing to remember is that research studies are the way we discover new treatments and tools we will use to take care of people in the future. In fact, research studies done in the past have given us most of the treatments and tools we use to take care of people today. For example, we learned that mammograms are a good way to screen for breast cancer through a research study to improve screening and diagnosis. We also recently learned of a new drug that can delay the onset of Type 1 diabetes and of a virtual reality system that can relieve chronic back pain. In each of these examples, it was only through research studies that we now know how best to screen for,  diagnose, treat, and help people.` %>

<body>
    <header>
        <%- include('../../../partials/header'); %>
    </header>

    <!-- Main Content -->
    <div class="text-container">
        
        <!-- Left-side Navigation Pane -->
        <div class = "gap-container"></div>

        <!-- Main Buttons -->
        <div class="navigation-container">
            <text-p class = "navigation-header">On this site</text-p>
            <br>
            <% for (var i = 0; i < buttons.length; i++) { %>
                <% if (buttons[i].url === url) { %>
                    <a href="/<%=id%>/<%=type%>/EducationalComponentText/<%=buttons[i].url%>">
                        <text-button class = "navigation-area selected">
                        <%= buttons[i].text %>
                        </text-button>
                    </a>
                <% } else { %>
                    <a href="/<%=id%>/<%=type%>/EducationalComponentText/<%=buttons[i].url%>">
                        <text-button class = "navigation-area">
                        <%= buttons[i].text %>
                        </text-button>                       
                    </a>
                <% } %>
            <% } %>
            <a href="/<%=id%>/<%=type%>/Discover">
                <text-button class="navigation-area text-discover-button">Discover Research Opportunities</text-button>
            </a>
        </div>

        <!-- Main Text Content -->
        <div class ="content-container">
            <div class = "title-container">
                <text-h1 class = "main-title-container title"><%=mainTitle%></text-h1>
                <div class ="discover-container discover-button-area">
                    <a href="/<%=version%>/<%=id%>/<%=type%>/Discover">
                        <button class="discover-button">Discover Research Opportunities</button>
                    </a>
                </div>
            </div>
            <h2><%-title1%></h2>
            <text-p><%-text1%></text-p>
            <h2><%-title2%></h2>
            <text-p><%-text2%></text-p>
            <h2><%-title3%></h2>
            <text-p><%-text3%></text-p>
        </div>
        
    </div>
</body>
</html>