<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bowser/2.11.0/bundled.js"></script>
    <script src="/scripts/index.js"></script>
    <title>ALEX</title>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <div class="container">
        <img class="logo" src="/images/logo.png" /> 
        <h1 class="title">Welcome to Research Studies with ALEX!</h1>

        <div id="begin-text-area">
            <p>To get started, click the button below. </p>
            <button onClick="playVideo()">Begin</button>
        </div>

        <div id="intro-area">
            <video id="intro-video" controls>
                <source src="https://research-studies-with-alex.s3.amazonaws.com/VirtualHCW/Welcome_VHCW.mp4" type="video/mp4">
            </video>

            <div class="button-choose">
                <a href="/<%=id%>/<%=type%>/EducationalComponent/Introduction">
                    <button>Tell Me More</button>
                </a>
                <a href="/<%=id%>/<%=type%>/Ask">
                    <button>Ask me questions</button>
                </a>
            </div>
            
        </div>

        <div id="discover-button-area">
            <a href="/<%=id%>/<%=type%>/Discover">
                <button class="green">Continue</button>
            </a>
        </div>
    </div>
</body>
</html>